@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900@display=swap');

:root{
    --header-height: 3rem;
    --font-semi: 600;
}

:root{
    --first-color: #4070F4;
    --second-color: #0E2432;
}

:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --mb-7: 13rem;
    --mb-8: 20rem;
}

:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    background: linear-gradient(315deg, #ffff, #d7e1ec);
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}
@media screen and (max-width: 760px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    position: relative;
    color: #fff;
}
.nav__link:hover{
    position: relative;
}
.nav__link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.10rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}
.nav__logo{
    color: var(--second-color);
}
.nav__toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}


.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.10rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}


.show{
    right: 0;
}
i, a{
    color: #585858;
}

.home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}
.home__data{
    align-self: center;
}
.home__title{
    padding-top: var(--mb-6);
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
    margin-left: var(--mb-2);
}
.home__title-color{
    color: var(--first-color);
}
.home__social{
    display: flex;
    flex-direction: column;
    margin-left: var(--mb-2);
    margin-top: var(--mb-2);
}
.home__social-icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}
.home__social-icon:hover{
    color: var(--second-color);
}
.home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .4rem;
    margin-left: var(--mb-2);
}
.button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,0.15);
    color: aqua;
}

/*====+ ABOUT======*/
.about__container{
    row-gap: 2rem;
    text-align: center;
}
.about__subtitle{
    margin-bottom: var(--mb-2);
}
.about__img{
    justify-self: center;
}
.about__img img{
    width: 200px;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

/*====+ SKILLS ======*/
.skills__container{
    row-gap: 2rem;
    text-align: center;
}
.skills__subtitle{
    margin-bottom: var(--mb-2);
}
.skills__text{
    margin-bottom: var(--mb-4);
}
.skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);

}
.skills__name{
    display: flex;
    align-items: center;
}
.skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}
.skills__html{
    width: 95%;
}
.skills__css{
    width: 85%;
}
.skills__js{
    width: 65%;
}
.skills__ui{
    width: 75%;
}
.skills__img{
    border-radius: .5rem;
}

/*====+ SERVICES ======*/
.services{
    text-align: center;
}
.services__container{
    row-gap: 2rem;
}
.services__img{
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: 20px;
    overflow: hidden;
}
.services__img img{
    transition: 1s;
    cursor: pointer;
    height: 70%;
    width: 70%;
    padding-left: 70px;
}
.services__img img:hover{
    transform: scale(1.1);
}  
.services__text{
    font-size: 20px;
    margin-top: 17px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
} 
.service__img{
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
}
.service__img img{
    transition: 1s;
    cursor: pointer;
    height: 70%;
    width: 70%;
    padding-left: 70px;
}
.service__img img:hover{
    transform: scale(1.1);
}  

/*====+ TEAM ======*/
.team-section{
    min-height: 100vh;
    padding: 70px 15px 30px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.team-section .section-title{
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 70px;
}
.team-section .section-title h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: var(--mb-2);
    margin: 0;
    color: var(--first-color);
    font-family: 'Poppins', sans-serif;
} 
.team-section .team-item .item{
    margin-bottom: var(--mb-4);
}
.team-section .team-item .item .inner{
    position: relative;
    z-index: 11;
    padding: 0 15px;
}
.team-section .team-item .item .inner .info_1, .info_2, .info_3{
    background-color: var(--first-color);
    text-align: center;
    padding: 20px 15px;
    border-radius: 8px;
    transition: all 0.5s ease;
    margin-top: -40px;
}
.team-section .team-item .item:hover .info_1{
    transform: translateY(-20px);
}
.team-section .team-item .item:hover .info_2{
    transform: translateY(-20px);
}
.team-section .team-item .item:hover .info_3{
    transform: translateY(-20px);
}
.team-section .team-item .item:hover{
    transform: translateY(-10px);
}
.team-section .team-item .item .inner .info_1 h5,
.team-section .team-item .item .inner .info_2 h5,
.team-section .team-item .item .inner .info_3 h5{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.team-section .team-item .item .inner .info_1 p,
.team-section .team-item .item .inner .info_2 p,
.team-section .team-item .item .inner .info_3 p{
    font-size: 16px;
    font-weight: 400;
    color: #c5c5c5;
    margin: 10px 0 0;
}
.team-section .team-item .item .inner .info_1 .social-links,
.team-section .team-item .item .inner .info_2 .social-links,
.team-section .team-item .item .inner .info_3 .social-links{
    padding-top: 15px;
}
.team-section .team-item .item .inner .info_1 .social-links a,
.team-section .team-item .item .inner .info_2 .social-links a,
.team-section .team-item .item .inner .info_3 .social-links a{
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    color: var(--first-color);
    border-radius: 50%;
    margin: 0 2px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    transition: all 0.5s ease;
}
.team-section .team-item .item .inner .info_1 .social-links a:hover,
.team-section .team-item .item .inner .info_2 .social-links a:hover,
.team-section .team-item .item .inner .info_3 .social-links a:hover{
    box-shadow: 0 0 10px #000;
}


/*====+ CONTACT ======*/
.contact__form{
    width: 360px;
    margin-left: var(--mb-2);

}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    text-align: center;
}
.contact .content p{
    font-weight: 300;
}
.contact__container{
    margin-top: 20px;
}
.contact__input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
}
.contact__button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}
footer{
    height: 200px;
    display: flex;
    background-color: var(--second-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer__title{
    margin-left: 130px;
}

footer p{
    font-family: 'Poppins', sans-serif;  
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: rgb(221, 217, 217);
    line-height: 10px;
    margin-bottom: 20px;
}
footer p:nth-child(2){
    font-size: 15px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
    margin-right: 20px;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}
.copyright{
    color: rgb(221, 217, 217);
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.social-icons i{
    color: #000000;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color: #2a54c9;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color: #ffffff;
    transition: all ease 0.5s;
}
.a-social-b{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateX(-50%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i {
    color: #2b2b2b;
    font-size: 20px;
}


/*====+ MEDIA ======*/
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title{
        margin-bottom: var(--mb-6);
    }
    .section-title::after{
        width: 70px;
        top: 3rem;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
        display: flex;
        padding-top: 0;
        margin-left: 500px;
    }
    .nav__item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .nav__link{
        color: var(--second-color);
    }
    .home{
        height: 100vh;
    }
    .home__title{
        font-size: 40px;
    }
    .home__data{
        align-self: flex-end;
        margin-left: 20%;
        margin-top: 20px;
        padding-top: 10%;
    }
    .home__social{
        padding-top: 10%;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
        margin-left: 21%;
        height: 50%;
    }
    .home__social-icon{
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }
    .home__img{
        width: 475px;
        bottom: 15%;
        top: 20%;
    }
    .about__container, .skills__container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }
    .about__img img{
        width: 400px;
    }
    .description{
        font-size: 18px;
    }
    .skills__container{
        margin-left: 15%;
    }
    .skills__img{
        width: 120%;
    }
    .services__container{
        grid-template-columns: repeat(3,1fr);
        row-gap: 3rem;
        margin-left: var(--mb-7);
    }
    .service__container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 3rem;
        margin-left: var(--mb-7);
        margin-top: var(--mb-2);
        height: 60%;
        width: 60%;
        padding-left: 70px;
    }
    .team-section{
        min-height: 100vh;
        padding: 70px 15px 30px;
    }
    .container{
        max-width: 1170px;
        margin: auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .team-section .section-title{
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 70px;
    }
    .team-section .section-title h1{
        font-size: 30px;
        text-align: center;
        font-size: 35px;
        margin: 0;
        color: var(--first-color);
        font-family: 'Poppins', sans-serif;
    } 
    .team-section .team-item{
         flex-basis: 100%;
         max-width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
    }
    .team-section .team-item .item{
        flex-basis: calc(25% - 30px);
        max-width: calc(25% - 30px);
        transition: all 0.5s ease;
        margin-bottom: 40px;
    }
    .team-section .team-item .item img{
        display: block;
        width: 100%;
        border-radius: 8px;
    }
    .team-section .team-item .item .inner{
        position: relative;
        z-index: 11;
        padding: 0 15px;
    }
    .team-section .team-item .item .inner .info_1, .info_2, .info_3{
        background-color: var(--first-color);
        text-align: center;
        padding: 20px 15px;
        border-radius: 8px;
        transition: all 0.5s ease;
        margin-top: -40px;
    }
    .team-section .team-item .item:hover .info_1{
        transform: translateY(-20px);
    }
    .team-section .team-item .item:hover .info_2{
        transform: translateY(-20px);
    }
    .team-section .team-item .item:hover .info_3{
        transform: translateY(-20px);
    }
    .team-section .team-item .item:hover{
        transform: translateY(-10px);
    }
    .team-section .team-item .item .inner .info_1 h5,
    .team-section .team-item .item .inner .info_2 h5,
    .team-section .team-item .item .inner .info_3 h5{
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
    }
    .team-section .team-item .item .inner .info_1 p,
    .team-section .team-item .item .inner .info_2 p,
    .team-section .team-item .item .inner .info_3 p{
        font-size: 16px;
        font-weight: 400;
        color: #c5c5c5;
        margin: 10px 0 0;
    }
    .team-section .team-item .item .inner .info_1 .social-links,
    .team-section .team-item .item .inner .info_2 .social-links,
    .team-section .team-item .item .inner .info_3 .social-links{
        padding-top: 15px;
    }
    .team-section .team-item .item .inner .info_1 .social-links a,
    .team-section .team-item .item .inner .info_2 .social-links a,
    .team-section .team-item .item .inner .info_3 .social-links a{
        display: inline-block;
        height: 32px;
        width: 32px;
        background-color: #ffffff;
        color: var(--first-color);
        border-radius: 50%;
        margin: 0 2px;
        text-align: center;
        line-height: 32px;
        font-size: 16px;
        transition: all 0.5s ease;
    }
    .team-section .team-item .item .inner .info_1 .social-links a:hover,
    .team-section .team-item .item .inner .info_2 .social-links a:hover,
    .team-section .team-item .item .inner .info_3 .social-links a:hover{
        box-shadow: 0 0 10px #000;
    }

    .contact__form{
        width: 360px;
        margin-left: var(--mb-1);

    }
    .footer__title{
        margin-left: 450px;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .home__img{
        right: 10%;
    }
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #3881ee;
    bottom: 10px;
    right: 50px;
    outline: none;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 55px;
    font-size: 35px;
}
#bx{
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
